---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import MainLayout from "@layouts/MainLayout.astro";
export async function getStaticPaths() {
    const blogEntries = await getCollection('blog');
    return blogEntries.map((entry) => {
        return {
            params: {
                slug: entry.slug
            },
            props: {
                entry
            }
        }
    });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout>
    <div>
        <h1>{entry.data.title}</h1>
        <img src={entry.data.image}  alt={entry.data.alt} />
        <Content />
    </div>
</MainLayout>