---
import MainLayout from "../../layouts/MainLayout.astro";
import Pagination from "../../components/Pagination.astro";
import PostLists from "../../components/PostLists.astro";

export async function getStaticPaths({ paginate }) {
    const PAGE_SIZE = 2;
    const allPosts = await Astro.glob("../../data/*.md");
    const allSortedPosts = allPosts.sort(
        (a, b) =>
            new Date(b.frontmatter.date).valueOf() -
            new Date(a.frontmatter.date).valueOf()
    );

    return paginate(allSortedPosts, {
        pageSize: PAGE_SIZE,
    });
}

const { page } = Astro.props;
---

<MainLayout title="Blog" description="All blog posts!">
    <div>
        <h1>All Posts</h1>
        <PostLists posts={page.data} />
        <Pagination page={page} />
    </div>
</MainLayout>
