---
import BaseLayout from "@layouts/BaseLayout.astro"
import {getCollection} from "astro:content";

const projects = await getCollection('projects');
const tags = [...new Set(projects.map((project) => project.data.tags).flat())]
const capital = function (string) {
    return string.replace(string.charAt(0), string.charAt(0).toUpperCase())
}
---
<BaseLayout title="All Tags">
    <div class="flex flex-col gap-y-12 items-center justify-center mt-16">
        <h1 class="text-2xl">Find a topic!</h1>
        <div class="grid grid-rows-3 text-xl lg:grid-rows-2 grid-flow-col gap-x-8 gap-y-4">
            {tags.map((tag) => <a class="text-center rounded-full bg-pastel-gradient-light-blue-500 px-2 py-1" href=`/tags/${tag}`>{capital(tag)}</a>)}
        </div>
    </div>
</BaseLayout>
