---
import '@/styles/globals.css'
import { Button } from "@/components/ui/button.jsx"
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card.jsx"
import MainLayout from "../layouts/MainLayout.astro";
import BlogCard from "../components/BlogCard.astro";
---
<MainLayout title="main" description="test">
    <div class="bg-neutral-100 min-h-screen min w-screen p-8 dark:bg-neutral-900">
        <BlogCard title="test blog title" description="test blog description" image="/assets/logo.png" image_alt="A white emoji person weraring blue glasses behind a sticker filled laptop" />
    </div>
</MainLayout>



<script is:inline>
    const getThemePreference = () => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme');
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    };
    const isDark = getThemePreference() === 'dark';
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

    if (typeof localStorage !== 'undefined') {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains('dark');
            localStorage.setItem('theme', isDark ? 'dark' : 'light');
        });
        observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
    }
</script>