---
import '@/styles/globals.css'
import { Button } from "@/components/ui/button.jsx"
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card.jsx"
import MainLayout from "../layouts/MainLayout.astro";
import BlogCard from "../components/BlogCard.astro";
---
<MainLayout title="main" description="test">
    <div class="bg-neutral-100 min-h-screen min w-screen p-8 dark:bg-neutral-900">
        <BlogCard title="test blog title" description="test blog description" image="/assets/logo.png" image_alt="A white emoji person weraring blue glasses behind a sticker filled laptop" />
    </div>
</MainLayout>