---
import MainLayout from "@layouts/MainLayout.astro";
import BlogCarousel from "@components/BlogCarousel.tsx";
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<MainLayout title="My Blog">
  <h1 class="text-xl font-semibold p-4">Index</h1>
  <div>
    <BlogCarousel blogs={blogEntries} amount={blogEntries.length} client:idle />
  </div>
</MainLayout>