---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="text-center grid grid-cols-2">
		<h1>Welcome to Astro</h1>
		<div
			class="bg-pickled-bluewood-500 rounded-3xl pl-8 pr-4 text-white justify-center h-[85vh] w-[85%]"
		>
			<div class="grid place-items-center pt-4">
				<img
					src="assets/memoji_laptop.png"
					alt="Caden's avatar"
					class="p-8 rounded-full bg-black"
				/>
			</div>
		</div>
	</main>
</Layout>
