---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<MainLayout title="My Blog">
  <h1 class="text-xl font-semibold p-4">Index</h1>
  <section aria-label="Blog Posts">
    <div>
      <ul>
        {blogEntries.map(blogPost => (
            <li>
              <a href=`blog/${blogPost.slug}`>{blogPost.data.title}</a>
            </li>
        ))}
      </ul>
    </div>
  </section>
</MainLayout>