---
import '@/styles/globals.css'
import { Button } from "@/components/ui/button.jsx"
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card.jsx"
import MainLayout from "../layouts/MainLayout.astro";
import {BC} from "../components/BC.tsx"
---
<MainLayout title="home" description="home">
    <div class="bg-neutral-100 min-h-screen min w-screen p-8 dark:bg-neutral-900 flex items-center justify-center">
        <BC title="test" description="test" image="/assets/logo.png" image_alt="image_alt"/>
    </div>
</MainLayout>