---
import '@/styles/globals.css'
import { Button } from "@/components/ui/button.jsx"
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card.jsx"
import MainLayout from "../layouts/MainLayout.astro";
import { BlogCarousel } from "../components/BlogCarousel.tsx";
import {getCollection} from "astro:content";
const blogs = await getCollection("blogs");
let list = blogs.slice(0,3);
---
<MainLayout title="home" description="home">
    <div class="bg-neutral-100 min-h-screen min w-screen p-8 dark:bg-neutral-900 flex items-center justify-center dark:text-white">
        <BlogCarousel blogs={list} client:load />
    </div>
</MainLayout>