---
import MainLayout from "@layouts/MainLayout.astro";
import {
    getAuth,
    onAuthStateChanged,
    createUserWithEmailAndPassword,
} from "firebase/auth";

const auth = getAuth();
let user;
onAuthStateChanged(auth, (user) => {
    if (user) {
        user = user;
    }
});
---

<MainLayout title="login">
    <script lang="js">
        function checkPassword() {
            var lowerCaseLetters = /[a-z]/g;

            var upperCaseLetters = /[A-Z]/g;

            var numbers = /[0-9]/g;

            var symbols = /[-!$%^&*()_+|~=`{}\[\]:";'<>?,.@\/]/;

            return (
                myInput.value.match(upperCaseLetters) &&
                myInput.value.match(symbols) &&
                myInput.value.length >= 12 &&
                myInput.value.match(numbers) &&
                myInput.value.match(upperCaseLetters) &&
                myInput.value.match(lowerCaseLetters)
            );
        }

        function validate() {
            console.log("worked???");
            let input = document.getElementById("username");
            var email =
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let auth = getAuth();
            if (input.value.match(email)) {
                createUserWithEmailAndPassword(
                    auth,
                    document.getElementById("username").value,
                    document.getElementById("password").value
                );
            }

            return input.value.match(email);
        }
    </script>
    <div class="content-center md:ml-48 md:mr-48 md:mt-16 md:mb-24">
        <form
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
            onsubmit="validate"
        >
            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="username"
                >
                    Username
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username"
                    type="text"
                    placeholder="Username"
                />
            </div>
            <div class="mb-6">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="password"
                >
                    Password
                </label>
                <input
                    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password"
                    type="password"
                    placeholder="******************"
                />
                <p class="text-red-500 text-xs italic">
                    Please choose a password.
                </p>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit"
                >
                    Sign Up
                </button>
            </div>
        </form>
        <div id="requirements">
            <h3>Password must contain the following:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">
                A <b>capital (uppercase)</b> letter
            </p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="symbol" class="invalid">A <b>special character</b></p>
            <p id="length" class="invalid">Minimum <b>12 character</b></p>
        </div>
        <p class="text-center text-gray-500 text-xs">
            &copy;2022 winnietthepooh. All rights reserved.
        </p>
    </div>
</MainLayout>

<style>
    input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    input[type="submit"] {
        background-color: #04aa6d;
        color: white;
    }

    .container {
        background-color: #f1f1f1;
        padding: 20px;
    }

    #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }

    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

    .invalid {
        color: red;
    }

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }
</style>

<script lang="js">
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    let symbol = document.getElementById("symbol");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("requirements").style.display = "block";
    };

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("requirements").style.display = "none";
    };

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 12) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        var symbols = /[-!$%^&*()_+|~=`{}\[\]:";'<>?,.@\/]/;
        if (myInput.value.match(symbols)) {
            symbol.classList.remove("invalid");
            symbol.classList.add("valid");
        } else {
            symbol.classList.remove("valid");
            symbol.classList.add("invalid");
        }
    };
</script>
