---
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
---

<BaseLayout>
   <div class="flex justify-center items-center mt-40">
      <ProjectCard title={"Caden32.com"} description={"This is my portfolio website"} tags={["Astro", "React", "TypeScript"]}/>
      <ProjectCard title={"Hypixel Auctions"} description={"An application that gets API data in less than 5 seconds"} tags={["Golang", "Rust","MongoDB", "Postgres", "SQLite"]} />
   </div>
</BaseLayout>