---
import type { CollectionEntry } from 'astro:content';
interface Props {
    posts: CollectionEntry<'blog'>[];
}

import BlogCard from "./BlogCard";
const { posts } = Astro.props;
---

<div class="flex items-center justify-center flex-col">
    <div class="grid grid-cols-2">
        {posts.map(post => (
                <div class="p-24 py-0">
                    <BlogCard post={post} />
                </div>
        ))}
    </div>
</div>