---
---

<html>
    <header
        class="flex items-center justify-start px-4 py-2 bg-pickled-bluewood-500 text-white text-2xl h-max"
    >
        <button
            ><span class="underline decoration-pickel-me-pink-400">C</span>aden
            32
        </button>
    </header>
</html>
