---
let link = import.meta.env.DEV
    ? "http://localhost:3000"
    : "https://caden32.com";
---

<html>
    <header
        class="flex items-center justify-start px-4 py-2 bg-white text-pickled-bluewood-700 text-2xl"
    >
        <button
            ><a href={link}
                ><span class="underline decoration-pickel-me-pink-400">C</span
                >aden 32</a
            >
        </button>
    </header>
</html>
