---
---
<header class="bg-transparent border-pastel-general-border-baby-blue-eyes border-b-2 p-2 px-4 hidden lg:flex justify-between text-4xl text-pastel-theme-off-white">
    <a href="/" class="drop-shadow-md">Caden<span class="underline">32</span></a>
    <div class="flex gap-4 justify-between">
        <a href="https://github.com/winnietthepooh" class="drop-shadow-md">Github</a>
        <a href={`/projects`} class="drop-shadow-md">Projects</a>
    </div>
</header>
<header class="bg-transparent-400 border-pastel-general-border-baby-blue-eyes border-b-4 p-4 px-6 flex justify-between lg:hidden text-7xl text-pastel-theme-off-white">
     <a href="/" class="drop-shadow-md">
             Caden
             <span class="underline">
                 32
             </span>
     </a>
     <div class="flex gap-4 justify-between drop-shadow-md">
        <a class="text-6xl" href={`/projects`}>Projects</a>
    </div>
</header>
