---
let link = import.meta.env.DEV
    ? "http://localhost:3000"
    : "https://caden32.com";

let blog = link + "/blog";

import ThemeToggle from "./ThemeToggle";
---

<html>
    <header
        id="header"
        class="flex items-center justify-between smd:px-4 py-2 bg-white text-pickled-bluewood-700 text-2xl mr-1 dark:bg-black dark:text-white w-full"
    >
        <button
            ><a href={link}
                ><span class="underline decoration-pickel-me-pink-400">C</span
                >aden 32</a
            >
        </button>
        <div class="text-underline grid grid-cols-3 gap-8" id="links">
            <button><a href={link}>Home</a></button>
            <button><a href={blog}>Blog</a></button>
            <ThemeToggle />
        </div>
    </header>
</html>
