---
import FlyoutButton from "./FlyoutButton.svelte";
---
<header class="bg-pastel-gradient-blue-md-500">
    <nav class="p-2 px-4 justify-between flex flex-row text-4xl text-pastel-gradient-gray-600">
        <a href="/" class="drop-shadow-md">
            Caden<span class="underline">32</span>
        </a>
        <div class="flex gap-4 justify-between">
            <a href="https://github.com/winnietthepooh" class="drop-shadow-md hidden lg:flex">Github</a>
            <a href={`/projects`} class="drop-shadow-md">Projects</a>
            <FlyoutButton client:idle />
        </div>
    </nav>
</header>
