---
---

<html>
    <header
        class="flex items-center justify-start px-4 py-2 bg-white text-pickled-bluewood-700 text-2xl"
    >
        <button
            ><img
                src="/assets/website_header.png"
                width="135"
                height="110"
                alt="caden 32"
            />
        </button>
    </header>
</html>
