---
const { page } = Astro.props;
---

<div>
    {
        page.url.prev && (
            <a class="font-size-1" href={page.url.prev} title="Go to Previous">
                &larr; Prev
            </a>
        )
    }
    {
        page.url.next && (
            <a class="font-size-1" href={page.url.next} title="Go to Next">
                Next &rarr;
            </a>
        )
    }
</div>
