---
const { post } = Astro.props;
---

<article>
    <h3
        class="text-6xl dark:bg-black dark:text-white underline decoration-pickel-me-pink-500"
    >
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
    </h3>
    <div>
        <p class="text-4xl dark:bg-black dark:text-white">
            {post.data.description}
        </p>
    </div>
</article>
