---
let posts = await Astro.glob("../pages/posts/*.md");
---

<div class="text-3xl">
    <h1 class="underline decoration-pickel-me-pink-500">Blog Posts</h1>
    {
        posts.map((post) => {
            return (
                <div class="py-8">
                    {post.frontmatter.url}
                    <h1 class="py-4">{post.frontmatter.title}</h1>
                    <p class="text-2xl">{post.frontmatter.preview}</p>
                </div>
            );
        })
    }
</div>
