---
interface Props {
    description: String;
    tags: String[];
}

const { description, tags} = Astro.props;
---

<div>
     <div>
        {description}
    </div>
    <div>
        {
            tags.map((tag) => {
                return(
                <p>
                    {tag}
                </p>
                )
            })
        }
    </div>
</div>
