---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro"
export async function getStaticPaths({ paginate }) {
    const allProjects = await getCollection('projects')
    return paginate(allProjects, {pageSize: 5})
}
const { page } = Astro.props
console.log(page.data.map(test => test.slug))
---
<BaseLayout>
<h1>page: {page.currentPage}</h1>
<div class="flex flex-col gap-y-4 pt-2">
    {page.data.map(test => <a href=`/projects/project/${test.slug}`>{test.data.title}</a>)}
    {page.url.next != undefined && <a href={page.url.next}>Next -></a> }
</div>
</BaseLayout>