---
import '@/styles/globals.css'
import {getCollection} from "astro:content";

import {
    Carousel,
    CarouselContent,
    CarouselItem,
    CarouselNext,
    CarouselPrevious,
} from "@/components/ui/carousel";
import MainLayout from "../../layouts/MainLayout.astro";
import {BlogCarousel} from "../../components/BlogCarousel";
const  blogs  = await getCollection("blogs")
---
<MainLayout title="blogs" description="All alvailable blogs">
    <div class="bg-neutral-100 min-h-screen min w-screen p-8 dark:bg-neutral-900 dark:text-white">
        <h1>Test index page</h1>
        <BlogCarousel blogs={blogs} client:load/>
    </div>
</MainLayout>