---
import '@/styles/globals.css'
import {getCollection} from "astro:content";

import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import {BlogCarousel} from "../../components/BlogCarousel.jsx";

const  blogs  = await getCollection("blogs")
console.log(blogs)
---
<MainLayout title="blogs" description="All alvailable blogs">
    <h1>Test index page</h1>
    <div class="flex items-center justify-center">
        <BlogCarousel blogs={blogs} client:load />
    </div>

</MainLayout>