---
import Header from "../components/Header.astro"
interface Props {
    title: String;
}
const { title } = Astro.props
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="My website">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>{title}</title>
    </head>
    <div class="bg-pastel-gradient-white-500 h-screen">
        <Header />
        <slot />
    </div>
</html>
