---
import Header from "@components/Header.astro"
import SlideOut from "@components/SlideOut.svelte";
interface Props {
    title: String;
}
const { title } = Astro.props
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="My website">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel='icon' type='image/x-icon' href='/favicon.png' />
        <title>{title}</title>
    </head>
    <div class="bg-pastel-gradient-white-500 h-screen lg:h-[100vmin]">
        <Header />
        <SlideOut client:idle />
        <slot />
    </div>
</html>
