---
import "../styles/global.css";

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<div class="dark:bg-black dark:text-white" id="blog">
    <title>{title}</title>

    <Header />
    <h1 class="text-center underline decoration-pickel-me-pink-500 text-2xl">
        {title}
    </h1>
    <main
        class="h-screen bg-white grid ml-28 prose-h1:ml-40 prose-p:ml-64 text-2xl mb-4 overflow-auto scroll-m-0 hide-mobile dark:bg-black dark:text-white"
    >
        <slot />
    </main>

    <main
        class="h-screen bg-white grid ml-28 prose-h1:ml-40 prose-p:ml-64 mb-4 overflow-auto scroll-m-0 show-mobile smd:hidden dark:bg-black dark:text-white"
    >
        <slot />
    </main>
    <div class="fixed bottom-0 w-full">
        <Footer />
    </div>
</div>
<style>
    @media only screen and (max-device-width: 480px) {
        .show-mobile {
            display: grid;
        }

        .hide-mobile {
            display: none;
        }
    }

    @media only screen and (min-device-width: 481px) {
        .show-mobile {
            display: none;
        }

        .hide-mobile {
            display: grid;
        }
    }
</style>
<script lang="js" is:inline>
    let check = function (click) {
        var link = document.createElement("link");
        link.type = "text/css";
        link.rel = "stylesheet";
        if (!sessionStorage.getItem("old")) {
            if (document.documentElement.classList.contains("dark")) {
                sessionStorage.setItem("old", "dark");
                link.href = "/styles/dark.css";
            } else {
                link.href = "/styles/prism-material-light.css";

                sessionStorage.setItem("old", "light");
            }
        }
        if (document.documentElement.classList.contains("dark")) {
            link.href = "/styles/dark.css";
        } else {
            link.href = "/styles/prism-material-light.css";
        }
        document.getElementsByTagName("head")[0].appendChild(link);
        if (click) {
            window.location.reload();
        }
    };

    var themeToggleBtn = document.getElementById("theme-toggle");

    console.log(themeToggleBtn);

    themeToggleBtn.addEventListener("click", function () {
        check(true);
    });

    window.onload = check(false);
</script>
