---
import "../styles/global.css";
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
    <title>{frontmatter.title}</title>
    {frontmatter.file}
    <Header />
    <h1 class="text-center underline decoration-pickel-me-pink-500 text-2xl">
        {frontmatter.title}
    </h1>
    <main
        class="h-screen bg-white grid ml-28 prose-h1:ml-40 prose-p:ml-64 text-2xl"
    >
        <slot />
    </main>
    <Footer />
</html>
