---
import "../styles/global.css";
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
    <title>{frontmatter.title}</title>
    <Header />
    <main
        class="prose-h1:text-sky-600 prose-p:text-rose-500 prose-p:items-center text-3xl prose-p:text-2xl prose-h2:text-green-500 h-screen bg-white text-center grid items-center prose-p:py-10"
    >
        <slot />
    </main>
    <Footer />
</html>
