---
---
<div class="text-xl p-6">
    <nav class="flex items-center justify-between">
        <div>
            <a class="font-semibold" href="/">Caden32</a>
        </div>
        <ul class="flex">
            <li class="px-4 py-2">
                <a href="/blog">Blog</a>
            </li>
            <li class="px-4 py-2">
                <a href="https://github.com/winnietthepooh">Github</a>
            </li>
            <li class="px-4 py-2">
                <a href="/projects">Projects</a>
            </li>
            <li class="px-4 py-2">
                <a href="/about">About</a>
            </li>
        </ul>
        <div>
            <div class="relative flex">
                L/D
            </div>
        </div>
    </nav>
</div>