---
import "../styles/global.css";
export interface Props {
	title: string;
	pageName: string;
}

const { title, pageName } = Astro.props as Props;
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="my to be blog" />
		<title>{title}</title>
	</head>
	<body class="h-screen bg-pickled-bluewood-500">
		<Header pageName={pageName} />
		<div class="text-2xl text-white">
			<slot />
		</div>
	</body>
</html>
