---
import Base from "./Base.astro"
interface Props {
    title?: string;
    description?: string;
}
const { title, description } = Astro.props;
---

<html lang="en">
    <Base title={title} description={description} />
    <body>
        <slot />
    </body>
</html>

