---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Layout from "./Layout.astro";

const { title, description } = Astro.props;
---
<Layout>
    <html lang="en" class="" id="main">
        <head>
            <title>{title}</title>
            <link
                href="https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap"
                rel="stylesheet"
            />
            <meta name="description" content={description} />
            <link rel="stylesheet" href="/styles/global.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="description" content="The official website for Caden" />
        </head>
        <body class="light bg-white dark:bg-black">
            <Header />
            <main class="">
                <slot />
            </main>
            <div class="fixed bottom-0 w-full">
                <Footer />
            </div>
        </body>
    </html>
</Layout>