---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en" class="" id="main">
    <head>
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="stylesheet" href="/styles/global.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body class="bg-white dark:bg-black">
        <Header />
        <main>
            <slot />
        </main>
        <div class="fixed bottom-0 w-full">
            <Footer />
        </div>
    </body>
</html>
